/* TO GET AN IDEA OF THE CSS YOU WILL LIKELY BE USING, SEE THE LISTS BELOW. */

        /* 

        
        Spacing 

            - padding (shorthand and/or specific properties like padding-bottom, etc.)

            - margin, (shorthand and/or specific properties like margin-top, etc.)

            - letter-spacing, word-spacing, line-height

            - width, max-width, min-width
            - height, max-height, min-height

        Typography 

            - font-family, font-size, font-style, font-weight

            - text-decoration, text-align

            - color

            - text-shadow, text-transform

        Box, Layout and Border 

            - border (shorthand and/or specific properties like border-top, border-bottom-radius, border-width, etc.)

            - box-shadow

            - display, float, align-items, align-content

            - grid-template-columns, grid-column-gap

            - transform

        Other

            - :nth()-child (to target specific child elements)

            - :focus, :hover, :active (to target link states)

            - @font-face or @import (to import typefaces)

        */


/* ------ START WRITING YOUR CODE BELOW ------ */


/* ------ FONTY FONTS ------ */

@font-face {
    font-family:josefinslab;
    src: url(../fonts/serif/josefinslab-regular.ttf) format('truetype');
}

@font-face {
    font-family:roboto;
    src: url(../fonts/sans-serif/roboto-regular.ttf) format('truetype');
}

@font-face {
    font-family:ultra;
    src: url(../fonts/serif/ultra-regular.ttf) format('truetype');
}

/* ------ HTML ------ */

html {
    font-family:roboto, Arial, sans-serif;
}

/* ------ H1 AND SPRINKLE PERFECT ------ */
h1 {
    letter-spacing: .125rem;
    font-family: josefinslab, Times New Roman, serif;
    font-size: 3.75rem;
    margin: 1.125rem;
    text-align: center;
    transform: rotate(355deg);
    padding-top: 5rem;
    padding-bottom: 5rem;
}

h1 > span {
    padding-bottom: .5rem;
    padding-top: 0;
    padding-left: .5rem;
    padding-right: .5rem;
    color: yellow;
    font-family: ultra, Times New Roman, serif;
    text-transform: uppercase;
    background-color: deepskyblue;
    border-style: solid;
    border-color: deepskyblue;
    border-radius: 1rem;
    box-shadow: .5rem .5rem #DCDCDC;
    text-shadow: .125rem .125rem #DCDCDC;

}

/* ------ H2 PERFECT ------ */

h2 {
    letter-spacing: .125rem;
    font-family: josefinslab, Times New Roman, serif;
    font-size: 1.75rem;
}

/* ------ H3 PERFECT ------ */

h3 {
    letter-spacing: .125rem;
    font-family: josefinslab, Times New Roman, serif;
    font-size: 1.5rem;

}


aside > h3 {
    border-top: solid;
    padding-top: 1rem;
    border-color: lavender;
}

/* ------ PARAGRAPH PERFECT ------ */

p {
    font-size: 1rem;
    letter-spacing: .03125rem;
    word-spacing: .125rem;
}

/* ------ CANDY STORE PIC PERFECT ------ */

figure.article-image {
    border: solid;
    border-color: lightskyblue;
    padding-top: .35rem;
    padding-bottom: .125rem;
    padding-left: .25rem;
    padding-right: .25rem;
    float: left;
}

/* ------ NOMMY SUBSECTION PICS PERFECT ------ */



.cupcake-first {
    padding-top: .35rem;
    padding-bottom: .125rem;
    padding-left: .25rem;
    float: left;
}

.cupcake-first figcaption{
    caption-side: bottom;
    background-color: lightgoldenrodyellow;
    color: darkcyan;
    text-align: center;
    height: 4rem;
    font-style: italic;
    font-size: smaller;
}
    
.candy-corn {

    padding-top: .35rem;
    padding-bottom: .125rem;
    float: left;
}

.candy-corn figcaption{

    caption-side: bottom;
    background-color: lightgoldenrodyellow;
    color: darkcyan;
    text-align: center;
    height: 6rem;
    font-style: italic;
    font-size: smaller;
}
    
.cupcake-third {
    padding-top: .35rem;
    padding-right: .25rem;
    padding-bottom: .125rem;
    float: left;
}

.cupcake-third figcaption{
    caption-side: bottom;
    background-color: lightgoldenrodyellow;
    color: darkcyan;
    text-align: center;
    height: 6rem;
    font-style: italic;
    font-size: smaller;
    
}


/* ------ LINKS PERFECT ------ */
a {
    outline: none;
}

a:link,
a:visited{
    color: palevioletred;
}

a:focus,
a:hover {
    text-transform: uppercase;
    color: paleturquoise;

}

/* ------ NAVIGATION PERFECT ------ */
nav {
    padding-left: 3rem;
    padding-right: 3rem;
    padding-top: 1rem;
    padding-bottom: 1rem;
    margin-top: .25rem;
    margin-bottom: 1.5rem;
    border-bottom: solid;
    border-top: solid;
    border-width: .15rem;
    border-color: palevioletred;
    word-spacing: 3.5rem;

}

nav a {
    text-decoration: none;
    width: 100%;
    line-height: 3;
    text-align: center;
    font-size: 1.125rem;
    transition: width 2s, height 2s, transform 2s;
}

nav a:focus,
nav a:hover {
        text-decoration: line-through;
        transform: rotate(90deg);
}

nav a:active {}



/* ------ PINK BUTTON PERFECT ------ */

button {
  background-color: lightpink;
  border: none;
    text-align: center;
    border-radius: 1rem;
  color: black;
  padding: 15px 32px;
  text-decoration: none;
    font-family: ultra, Times New Roman, serif;
  font-size: 16px;
    transition-duration: .04s;
    box-shadow: .25rem .25rem #DCDCDC;
    
}
button:hover {
    background-color: hotpink;
    color: white;
}

/* ------ DATE PERFECT ------ */

time {
    font-style: italic;
    font-size: smaller;
}

/* ------ ASIDE DOTS PERFECT ------ */

.expand {
    font-size: .25rem;

}

a.expand {
    outline: none;
}

a.expand:link,
a.expand:visited{
    color: white;
}

a.expand:focus,
a.expand:hover {
    background-color: paleturquoise;
    color:paleturquoise;
    padding: .25rem;
    
    
}

/* ------ ASIDE ON THE SIDE PERFECT ------ */

article {
    float:left;
    width:70%

}
aside {
    float: right;
    width: 25%;
    border-left: solid;
    padding-left: 1rem;
    border-color: lightskyblue;
    
}


/* ------ FOOTY FOOTER PERFECT ------ */
footer {
    clear:both;
    text-align: right;
    font-size: smaller;
}

div.mail {
    text-align: left;
}